{% extends "backstage.html" %} {% block head %} {{ super() }} {% endblock head %} {% block title %}zhizhiPetSuppliesStore{% endblock title%} {% block content%}


<br/>
<div class="container-xl">
    <br/>
    <form method="post" enctype=multipart/form-data action={{ url_for( 'manager.edit') }}>
        <table class="table table-bordered">
            <tr>
                <th>商品編號</th>
                <td><input class="form-control" type="text" value="{{ data.商品編號 }}" name="pid" readonly class="id_input"></td>
            </tr>
            <tr>
                <th>商品名稱</th>
                <td><input class="form-control" type="text" value="{{ data.商品名稱 }}" name="name" required></td>
            </tr>
            <tr>
                <th>單價</th>
                <td><input class="form-control" type="text" value="{{ data.單價 }}" name="price" required></td>
            </tr>
            <tr>
                <th>類別</th>
                <td>
                    <select class="form-control" name="category">
            {% if data.類別 == '貓' %}
              <option value="貓">貓</option>
              <option value="狗">狗</option>
              <option value="鼠類" selected>鼠類</option>
              <option value="小動物" selected>小動物</option>
              <option value="小型動物" selected>小型動物</option>
              <option value="熱帶魚" selected>熱帶魚</option>
              
            {% elif data.類別 == '狗' %}
              <option value="貓">貓</option>
              <option value="狗" selected>狗</option>
              <option value="鼠類">鼠類</option>
              <option value="小動物">小動物</option>
              <option value="小型動物" selected>小型動物</option>
              <option value="熱帶魚" selected>熱帶魚</option>

            {% elif data.類別 == '鼠類' %}
              <option value="貓" selected>貓</option>
              <option value="狗">狗</option>
              <option value="鼠類">鼠類</option>
              <option value="小動物">小動物</option>
              <option value="小型動物" selected>小型動物</option>
              <option value="熱帶魚" selected>熱帶魚</option>

            {% elif data.類別 == '小動物' %}
              <option value="貓" selected>貓</option>
              <option value="狗">狗</option>
              <option value="鼠類">鼠類</option>
              <option value="小動物">小動物</option>
              <option value="小型動物" selected>小型動物</option>
              <option value="熱帶魚" selected>熱帶魚</option>

            {% elif data.類別 == '小型動物' %}
              <option value="貓" selected>貓</option>
              <option value="狗">狗</option>
              <option value="鼠類">鼠類</option>
              <option value="小動物">小動物</option>
              <option value="小型動物" selected>小型動物</option>
              <option value="熱帶魚" selected>熱帶魚</option>

            {% elif data.類別 == '熱帶魚' %}
              <option value="貓" selected>貓</option>
              <option value="狗">狗</option>
              <option value="鼠類">鼠類</option>
              <option value="小動物">小動物</option>
              <option value="小型動物" selected>小型動物</option>
              <option value="熱帶魚" selected>熱帶魚</option>

            {% else %}
           
            {% endif %}
            
        </select>
            </tr>
            <tr>
                <th>商品敘述</th>
                <td>
                    <textarea class="form-control" name="description">{{ data.商品敘述 }}</textarea>
                </td>
            </tr>
            <!-- <tr>
        <th>商品圖片</th>
        <td>
          <input type="file" name="file" id="file-uploader" data-target="file-uploader"/>
        </td>
      </tr> -->
        </table>
        <center>
            <div class="option">
                <button class="btn btn-outline-success" type="submit">確定修改</button>
                <a href="{{ url_for('manager.productManager') }}"><button class="btn btn-outline-danger">回商品管理</button></a>
            </div>
        </center>

    </form>
</div>



{% endblock content%}