{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}吱吱寵物用品專賣店{% endblock title%}

{% block content%}
<div class="position-absolute top-50 start-50 translate-middle">
    <img class="index_pic" src="{{ url_for('static', filename='./img/zhizhi.png') }}">
    <img class="index_pic2" src="{{ url_for('static', filename='./img/tit.png') }}">
    <div class="btn_div">
        <a href="{{ url_for('api.register') }}">
            <button class="index_btn">註冊</button>
        </a>
        <a href="{{ url_for('api.login') }}">
            <button class="index_btn1">登入</button>
        </a>
    </div>
</div>
{% endblock content%}