{% extends "base.html" %}
{% block head %}
{{ super() }}
<meta charset="utf-8">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../static/css/zhizhi_style.css">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/e3962a2758.js" crossorigin="anonymous"></script>
<script defer src="../static/font/fontawesome-free-5.13.0-web/js/all.js"></script>
<link rel="icon" href="../static/img/1.ico" type="image/x-icon">

{% endblock head %}

{% block title %}吱吱寵物用品專賣店{% endblock title%}

{% block content%}
<div class="position-absolute top-50 start-50 translate-middle">
    <img class="index_pic" src="{{ url_for('static', filename='./img/zhizhi.png') }}">
    <img class="index_pic2" src="{{ url_for('static', filename='./img/tit.png') }}">
    <div class="btn_div">
        <a href="{{ url_for('api.register') }}">
            <button class="index_btn">註冊</button>
        </a>
        <a href="{{ url_for('api.login') }}">
            <button class="index_btn1">登入</button>
        </a>
    </div>
</div>
{% endblock content%}